:root{
    --text_color_main: #000000;
    --text_color_secodary: #545454;
    --background_color: #FAFAFF;
    --color-secondary: #545454;
}

main {
    background-color: var(--background_color);
    color: var(--text_color_secodary);
    min-height: 100vh;

    h1, h2 {
        color: var(--text_color_main);
    }

    h2 {
        font-size: 20px;
        padding: 20px;
    }
}

.product-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--background_color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
    max-width: 80%;
    height: 50%;
    max-height: 400px;
    overflow: hidden;

    img {
        max-width: 50%;
        height: auto;
        object-fit: cover;
    }
}

.product-details {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    flex: 1;
    padding: 10px;
    
}

.add-button{
    background-color: hsl(0, 0%, 70%);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin: 10px;

    &:hover {
        background-color: var(--color-secondary);
    }
  }

input[type="number"] {
    width: 60px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--background_color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

@media (max-width: 590px) {
    .product-card {
        flex-direction: column; 
        width: 90%; 
        height: auto; /* הגובה יותאם אוטומטית */
        max-height: none;
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        .product-details {
            text-align: center;
            padding: 15px;
            
            h2 {
                font-size: 16px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}