// ******************************************
// Everitying is in this file for now, 
// separeted to RESET and CUBE by comments lines 
// the CUBE sections are in correct cascade order

:root{
    --text_color_main: #000000;
    --text_color_secondary: #545454;
    --background_color: #FAFAFF;
    --color-secondary: #545454;
    --margin-color:#d5d8f6;
    --shadow-color: #d5d8f6;

    @media (prefers-color-scheme: dark) {
        --text_color_main: #FFFFFF;
        --text_color_secondary: #cccccc;
        --background_color: #36454F;
        --color-secondary: #ABABAB;
        --margin-color: #808080;
        --shadow-color: #d5d8f6;
    }

    --card-width: 15rem;
    --card-height: 27rem;

}

$bp-mobile: 27rem;

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



//*** Default parameters *** == Reset
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    border: 0;
}

ul, ol, menu {
    padding: 0;
    list-style: none;
}

html{
    background-color: var(--margin-color);
    font-size: var(--defauld-font-size,1rem);
    font-family: system-ui;
    color: var(--text_color_main);
}

body, main {
    background-color: var(--background_color);    
}

h2{
    text-align: center;
    color: var(--text_color_main);
    font-size: var(--h2-font-size, 4rem);
}

h3{
    text-align: center;
    color: var(--text_color_main);
    font-size: var(--h3-font-size, 2rem);
}

p{
    color: var(--text_color_secondary);
}

a{
    color: var(--text_color_main);
    text-decoration: none;
    cursor: pointer;
    &:hover{
        color: var(--text_color_secondary);        
    }
}
//*** END of RESET ********

//*************************

// Composition
.stack > * + * {
    margin-block-start: var(--stack-gutter, 3rem);
}
// *** END of COMPISITION ***

// Utilities
.u-24-font{
    font-size: 1.5rem;
}

.u-bg-color-margin{
    background-color: var(--margin-color);
}

.u-bottom-margin-1rem{
    margin-bottom: 1rem;
}

.u-border{
    border: 1px solid var(--color-secondary);
}

.u-card-body{
    width: 97vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;  
}
.u-cursor-pointer{
    cursor: pointer;
}

.u-focus-text{
    color: var(--text_color_main);
    font-weight: 800;
    font-size: 1.1rem;
}

.u-horisontal-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--min-menu-gap, 1rem);
}

.u-left-margin-1rem{
    margin-left: 1rem;
}

.u-logofont{
    font-family: 'Great Vibes', system-ui, cursive;
    font-weight: 100;
}

.u-padding-4{
    padding: 0.25rem;
}

.u-padding-8{
    padding: 0.5rem;
}

.u-put-to-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.u-put-to-end{
    align-self: flex-end;
}

.u-put-to-start{
    align-self: flex-start;
}

.u-radius-16{
    border-radius: 1rem;
}

.u-radius-32{
    border-radius: 2rem;
}

.u-radius-4{
    border-radius: 0.25rem;
}

.u-right-margin-1rem{
    margin-right: 1rem;
}

.u-shadow{
    box-shadow: 10px 10px 15px var(--shadow-color,grey);
}

.u-shadow-small{
    box-shadow: 5px 5px 10px grey;
}

.u-stick-to-the-left{
    margin-right: auto;
}

.u-stick-to-the-right{
    margin-left: auto;
}

.u-top-margin{
    margin-top: var(--stack-gutter, 3rem);
}

// *** END OF UTILITIES ***

// Block
.about-us {
    width: min(60rem, 80vw);
    margin: auto;
    @media screen and (max-width: $bp-mobile) {
        text-align: center;              
    }
}

button {
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
    transition: all 0.3s;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 0.5rem;
    overflow: hidden;
    text-align: center;
    
    width: var(--card-width, 13rem);
    height: var(--card-height, 22rem);
        
    :first-child {
        margin-bottom: 0.5rem;
    }     

    :nth-child(4){
        margin-top: 1rem;
    }
    
    :last-child {
        margin: auto auto 0.5rem auto;        
    }

    &:hover {
        transform: scale(1.1);
    }

    transition: all 0.3s;
}
  
.card_image {
    width: 100%;
    aspect-ratio: 1;
}
  
.cart-page {
    display: inline;
    box-sizing: border-box;
    line-height: 1.5;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--min-menu-gap, 1rem);
}

.delivery {
  display: flex;
  align-items: center;
  margin: auto;

    input[type="radio"] {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
      
      label {
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        padding: 10px;
      }
      
      input[type="radio"]:checked + label {
        color: #007BFF; 
      }
} 

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    background-color: var(--background_color);
    @media screen and (max-width: $bp-mobile) {
        flex-direction: column-reverse;              
    }
}

.hamburger-menu {
    position: relative;

    .menu-checkbox {
        display: none;
    }

    label {
        cursor: pointer;
    }

    .overlay-menu {
        position: absolute;
        right: 0px;
        top: 2rem;
        z-index: 10;
        background-color: var(--background_color);
        height: 0;
        width: 7rem;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
    }

    .menu-checkbox:checked {
        ~.overlay-menu {
            height: 14.5rem;
            opacity: 1;
        }
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0;
    background-color: var(--background_color);
    @media screen and (max-width: $bp-mobile) {
        flex-direction: column;              
    }
}

.info-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    font-size: 16px;
    max-height: 100vh;
    text-align: center;

    h1 {
        font-size: 25px;
        text-align: center;
    }
    
    h2 {
        font-size: 16px;
    }
}

.input {
    font-size: var(--default-font-size, 1rem);
    width: min(60ch, 80vh);
    @media screen and (max-width: $bp-mobile) {
        width: 95%;              
    }
}

.logo_image {
    height: var(--logo-image-heigth, 100px);
    width: var(--logo-image-width, 100px);
}

.logo_image_small {
    height: var(--s-logo-image-heigth, 50px);
    width: var(--s-logo-image-width, 50px);
}

.message-input {
    font-size: var(--default-font-size, 1rem);
    width: min(60ch, 80vh);
    @media screen and (max-width: $bp-mobile) {
        width: 95%;              
    }    
}

.pricing {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0;
  margin: 0;

  .discount {
    color: red;
  }

  .total-price {
    font-weight: bold;
  }
}

.promocode {
    display: flex;
    gap: 10px;
    width: 300px;
    margin: 0 auto;

  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  p {
    font-size: 10px;
  }
}

.search-input {
    font-size: var(--default-font-size, 1rem);
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.shopping-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5px auto;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: var(--background_color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-width: 100%;

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    p {
        max-width: 100px;
        color: var(--text_color_secodary);
    }
}

.site-nav-menu {
    @media screen and (max-width: $bp-mobile) {
        display: none;
        // background-color: red;
    }
}

.special_offers_galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: var(--min-cards-gap, 2rem);
}
// *** END OF BLOCK ***

// Exceptions

// *** END OF EXCEPTIONS ***

#productsPage{
    margin: auto;
    

    header{
        display: block;
    }
    
    img{
        border-radius: inherit;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: 15rem;
        height: 17rem;
    }

    
    .productsHeader{
        h3{
            text-align: center;
            text-decoration: underline;
        }
    }
    
    .gridCont{
        max-width: min(90%, 1200px);
        margin: auto;
        
        .grid12{
            display: grid;
            grid-template: repeat(3, 1fr) / repeat(4, 1fr);
            gap: 6rem 3.5rem;
            padding: 3rem;
            text-align: center;
        }
        
        .col11{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            min-width: 15rem;
            min-height: 17rem;
            border-radius: 2rem;
            // transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden; /* מונע תוכן שגולש */
            box-sizing: border-box; /* מבטיח שגבולות וחללים פנימיים לא ייצרו בעיות */

            h4{
                padding-top: 0.7rem;
            }

            h4, p{
                padding-bottom: 0.2rem;
            }
            
            button{
                margin-bottom: 0.7rem;
                border-radius: 15rem;
                padding: 0.7rem;
                animation: none;
                background: #d6d8f3;

                position: relative; /* חובה בשביל `::before` */
                overflow: hidden;
                
                &:hover{
                    transform: none; // כדי לבטל את ההובר משורה 200
                    animation: hover-btn 2s forwards;
                }
                @keyframes hover-btn {
                    0%{
                        scale: 1;
                    }
                    50%{
                        scale: 1.3;
                    }
                    100%{
                        scale: 1;
                    }
                }

                &::before{
                    content: "";
                    position: absolute;
                    top: -100%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: radial-gradient(circle, rgba(212,215,244,0.5) 0%, rgba(143,146,180,1) 100%); 
                    z-index: -1;
                    transition: all 1.5s ease-in-out;
                }

                &:hover::before{
                    top: 0; // כדי שהצבע בהובר יחזור למקום אחרי שמורידים עכבר ממנו
                }
                
            }

            &:hover{
                animation: hover-col11 1s ease-out forwards;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
            }
            @keyframes hover-col11 {
                0%{
                    scale: 1;
                }
                100%{
                    scale: 1.05;
                }
            }
        }
    }
}
